body{
    position: relative;
}

.game{
    position: absolute;
    background-color: #e3d283;
    padding: 10px;
    left: 50%;
    translate: -50% 0;
    border: 2px black solid;
    border-radius: 10px;
}

.panel{
    display: flex;
}

.button-start, .button-end, .button-clear{
    /*display: flex;*/
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 10px;
    color: gray;
    font-size: 16px;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 200px;
}
.button-start a, .button-end a, .button-clear a {
    color: #000000;
    text-decoration: none;
}
.button-start:hover a, .button-end:hover a, .button-clear:hover a{
    color: #000000;
    outline: 0;
}
.first {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
    box-shadow: 0 0 40px 40px white inset;
}

.sizeBorder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.size_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}

.size_form p{
     display: inline-block;
     font-size: 16px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     color: black;
 }

 .borderWidth, .borderHeight, .delay_time {
     width: 50px;
    display: inline-block;
    margin: 0 auto 0 auto;
    height: 30px;
    border-radius: 20px;
    border: 2px black;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #000000;
    font-weight: 700;
}

 .game-border{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 5px;
 }

.row{
    display: flex;
}

.dead {
    border: white 1px solid;
    height: 10px;
    width: 10px;
    background-color: gray;
}
.alive{
    border: white 1px solid;
    height: 10px;
    width: 10px;
    background-color: aqua;
}
